<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>Required attributes:</strong>
  <%= @type.required_attributes %>
</p>

<p>
  <strong>Optional attributes:</strong>
  <%= @type.optional_attributes %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
